body{
  background-color: #DFEEEA;
  margin: 0;
  text-align: center;
}
h1{
  color: #1e836c  ; /*   1e836c D3DEDC */
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

hr{
  position: relative;
  background-color: #F7F7F7;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.top{
  max-width: 100%;
  position: relative;
  padding-top: 80px;
}

.hill_img{
  position: absolute;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top:50px;
}
.bottom_cloud{
position: absolute;
left: 300px;
bottom: 300px;
}

.hill_img{
max-width: 100%;
position: relative;
top:50px;
padding-bottom: 50px;
overflow:auto;
}

.middle{
  margin-top:  20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F7F7F7;
}


.intro{
  width: 50%;
  margin: auto;
  background-color: #F7F7F7;
  position: relative;
  line-height: 1.5;
}

.IntroHi{
  margin-bottom: 20px;
}

.skills{
  background-color: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills_row{
  width: 50%;
}

.sqlimage{
  width: 3%;
}

.powerbi{
  width: 3%;
  margin-top:2.5%;
}

.excel{
  width: 3%;
  margin-top:2.5%;
}

.python{
  width: 3%;
  margin-top:2.5%;
}

.machine{
  width: 3%;
  margin-top:2.5%;
}

.statistics{
  width: 3%;
  margin-top:2.5%;
}

.ranking{
  font-size: .5em;
  margin-top:0.5%;
  font-weight: 200;
}

.education{
  text-align: center;
  background-color: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom{
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #DFEEEA;
}

.higher-education{
  margin-left: 25%;
  margin-right: 25%;
  color: #45b29a;
  font-size: 1.2em;
  width: 50%;
}

.inter-education{
  margin-left: 25%;
  margin-right: 25%;
  color: #45b29a;
  font-size: 1.2em;
  width: 50%;
}

.footer-link-git{
  margin-left: 15px;
  font-family:"Montserrat", sans-serif;
  text-decoration: none;
}

.footer-link-linkedin{
font-family:"Montserrat", sans-serif;
text-decoration: none;
}

.rserved{
  padding-top: 20px;
  text-decoration: none;
}


a {
    color: #45b29a;
    border-bottom: 1px solid #45b29a;
    font-size: 1em;
    text-decoration: none;
}

a:hover{
  color: #1e836c ;
}

p {
    text-align: center;
    color: #45b29a;
    font-weight: 400;
    margin: 0;
    font-size: 1.5em;
    padding: 0 0 0;
}

h3 {
    color: #1e836c;
    text-align: center;
    font-size: 3.2em;
    font-weight: 400;
}

h2 {
    color: #1e836c;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;


}

h5 {
    margin-top:0.5%;
    margin-bottom: 0.2%;
    color: #1e836c;
    font-size: 1em;
    font-weight: 500;
    font: "Fira Sans", sans-serif;
}
