body{
  background-color: #D3DEDC;
}
h1{
  color: #24A19C; /* #45b29a */
}

hr{
  background-color: #D3DEDC;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
